@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
    --color-accent: #c20877;
    --color-dark: #191919;
    --color-background: #fefefe;
    --color-light-gray: #f5f5f5;
    --color-accent-light: #f3f4f6;
}

@theme {
    --font-sans: 'Noto Sans', 'sans-serif';
    --font-serif: 'Domine', 'serif';
}
