@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
	--color-accent: #c20877;
	--color-dark: #191919;
	--color-background: #fefefe;
	--color-light-gray: #f5f5f5;
	--color-accent-light: #f3f4f6;
}

@theme {
	--font-sans: 'Noto Sans', 'sans-serif';
	--font-serif: 'Domine', 'serif';
}

/* Trees (phylotree) */

.overlay {
	cursor: default;
}

.tree-selection-brush .extent {
	fill-opacity: 0.05;
	stroke: #fff;
	shape-rendering: crispEdges;
}

.tree-selection-brush .extent {
	fill-opacity: 0.05;
	stroke: #fff;
	shape-rendering: crispEdges;
}

.tree-scale-bar text {
	font: 'Noto Sans', sans-serif;
}

.tree-scale-bar line,
.tree-scale-bar path {
	fill: none;
	stroke: var(--color-background);
	shape-rendering: crispEdges;
}

.node circle,
.node ellipse,
.node rect {
	fill: var(--color-accent-light);
	stroke: var(--color-accent);
	stroke-width: 0px;
}

.internal-node circle,
.internal-node ellipse,
.internal-node rect {
	fill: var(--color-dark);
	stroke: var(--color-accent);
	stroke-width: 0px;
	width: 0px;
	r: 0px;
}

.node {
	font: 10px;
}

.node-selected {
	fill: #f00 !important;
}

.node-collapsed circle,
.node-collapsed ellipse,
.node-collapsed rect {
	fill: black !important;
}

.node-tagged {
	fill: #00f;
}

.branch {
	fill: none;
	stroke: var(--color-dark);
	stroke-width: 2px;
}

.clade {
	fill: lightgrey;
	stroke: #222;
	stroke-width: 2px;
	opacity: 0.5;
}

.branch-selected {
	stroke: var(--color-accent) !important;
	stroke-width: 4px;
}

.branch-tagged {
	stroke: #00f;
	stroke-dasharray: 10, 5;
	stroke-width: 2px;
}

.branch-tracer {
	stroke: #bbb;
	stroke-dasharray: 3, 4;
	stroke-width: 1px;
}

.branch-multiple {
	stroke-dasharray: 5, 5, 1, 5;
	stroke-width: 3px;
}

.branch:hover {
	stroke: var(--color-accent);
	stroke-width: 3px;
}

.internal-node circle:hover,
.internal-node ellipse:hover,
.internal-node rect:hover {
	fill: black;
	stroke: #ccc;
}
